@import "common";

#wrap {
    background-color: #f9f9f9;
    box-sizing: border-box;

    img {
        max-width: 100%;
        display: block;
    }
}

/*inner*/
.inner {
    margin: auto;
    width: 1480px;
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: transparent;

    &:hover {
        background-color: #fff;
    }
    // header inner
    .inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        a{
            color: #707070;
            display: block;
        }

        h1 {
            width: 130px;
            height: 24px;
        }
    
        // nav 시작
        nav {
            margin-left: 20px;
            margin-right: auto;
            height: 100%;
    
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                li {
                    position: relative;
    
                    a {
                        padding: 20px;
                        font-size: 1.8rem;
                    }
    
                    &:hover {
                        a {
                            font-weight: bold;
                            
                            &::after {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: 10px;
                                transform: translateY(-50%);
                                width: 4px;
                                height: 4px;
                                border-radius: 100%;
                                background-color: #ff7979;
                            }
                        }
                    }
    
                }
            }
        }
        // nav 끝
        // 오른쪽 div
        > div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            
            ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;

                li {
                    a{
                        padding: 10px;
                        font-size: 1.4rem;
                    }

                    &:hover {
                        a {
                            font-weight: bold;
                        }
                    }
                }
            }
            // 로그인 영역 그룹
            > div {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;

                a {
                    margin: 0 22px;
                    padding: 5px 12px;
                    font-size: 1.4rem;
                    border: 1px solid #c8c8c8;
                    border-radius: 50px;

                    &:hover {
                        background-color: #f9f9f9;
                    }
                }

                button {
                    padding: 4px;
                    width: 40px;
                    height: 50px;
                    background-color: transparent;
                    border: none;
                    margin-right: 10px;
                    cursor: pointer;

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        // 오른쪽 div 끝
    } 
}
/* header 끝 */ 