@import "common";

#wrap {
    background-color: #f9f9f9;
    letter-spacing: -1px;

    img {
        max-width: 100%;
        display: block;
    }
}

/*inner*/
.inner {
    margin: auto;
    width: 1480px;
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: transparent;

    &:hover {
        background-color: #fff;
    }
    // header inner
    .inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        a{
            color: #707070;
            display: block;
        }

        h1 {
            width: 130px;
            height: 24px;
        }
    
        // nav 시작
        nav {
            display: flex;
            margin-left: 20px;
            margin-right: auto;
            height: 100%;
    
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                li {
                    position: relative;
    
                    a {
                        padding: 10px 20px;
                        font: 700 1.8rem "KBFGDisplay", "sans-serif";   
                    }
    
                    &:hover {
                        a {
                            font-weight: bold;
                            
                            &::after {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: 2px;
                                transform: translateY(-50%);
                                width: 4px;
                                height: 4px;
                                border-radius: 100%;
                                background-color: #ff7979;
                            }
                        }
                    }
    
                }
            }
        }
        // nav 끝
        // 오른쪽 div
        > div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            
            ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;

                li {
                    a{
                        padding: 10px;
                        font-size: 1.4rem;
                        font-weight: 300;
                    }

                    &:hover {
                        a {
                            font-weight: 500;
                        }
                    }
                }
            }
            // 로그인 영역 그룹
            > div {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;

                a {
                    margin: 0 22px;
                    padding: 5px 12px;
                    font-size: 1.4rem;
                    border: 1px solid #c8c8c8;
                    border-radius: 50px;

                    &:hover {
                        background-color: #f9f9f9;
                    }
                }

                button {
                    width: 30px;
                    height: 50px;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    &:not(:last-child){
                        margin-right: 10px;
                    }
                }
            }
        }
        // 오른쪽 div 끝
    } 
}
/* header 끝 */
/*main 시작*/
main {
    padding-top: 110px;

    h2 {
        margin-bottom: 30px;
        font: 800 2.8rem "KBFGDisplay", "sans-serif";
        color: #303033;

        span {
            font: 300 1.8rem "SpoqaHanSansNeo", "sans-serif";
        }
    }

    section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left_box {
           

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-left: -10px;
                width: 550px;
                height: 500px;
                
                > li {
                    margin: 0 10px;
                    width: calc(50% - 20px);
                    height: 240px;

                    a{
                        display: block;
                        padding: 40px;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #e6e6e6;
                        border-radius: 20px;
                        background-color: #fff;


                        > strong {
                            display: block;
                            margin-bottom: 16px;
                            font: 700 2.0rem "KBFGDisplay", "sans-serif";
                            color: #303030;
                        }

                    }
                }
                > li:nth-child(1),
                > li:nth-child(2) {
                    margin-bottom: 20px;
                    font-size: 1.5rem;
                    color: #707070;
                }
            }
         
        }
    }
}
/*main 끝*/